<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Search</title>
</head>
<body>
    <h1> Search for sales records </h1>

    <hr>
    <form method="POST" action="/recipes/search/">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
        <input type="hidden" name="show_all" value="true">
        <input type="submit" value="Show All">
        <img src="data:image/png;base64,{{ image_url }}" />
    </form>
    
    <img src="{% static 'bar_plot.png' %}" alt="Bar Plot">
    <img src="{% static 'pie_plot.png' %}" alt="Pie Plot">
    <img src="{% static 'line_plot.png' %}" alt="Line Plot">

    <script src="https://js.stripe.com/v3/"></script>
</body>
</html>