<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List View</title>
</head>
<body>
    <h1 style="text-align: center;">Recipe App List</h1> 
    <table border="0.5" cellpadding="5" cellspacing="5" align="center">
        <tr>
            <th>Recipe Name</th>
            <th>Recipe Image</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{object.name}}</td>
            <td><img src="{{object.pic.url}}" width="300" height="200" /></td>
        </tr>
        {% endfor %}
    {% for object in object_list %} 

    {% endfor %}
</body>
</html>