<!-- this is for loading static files, to load files from the server you need to use load staticfiles instead of load static -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App Home</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to the Recipe App</h1>
    <br>
    <img src="{% static 'recipes/images/recipe_img-1.jpg' %}" alt="home" width="100%" height="50%">
    
</body>
</html>