<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details View</title>
</head>
<body>
    <h2>Details: {{object.name}}</h2>
    <img src="{{object.pic.url}}" width="300" height="200" />
    <b>Name</b> {{object.name}}<br>
    <b>Ingredients </b> {{object.ingredients}}<br>
    <b>Instructions </b> {{object.instructions}}<br>
    <b>cooking_time</b> {{object.cooking_time}}<br>
</body>
</html>